set :stage, :production
set :rails_env, :production
set :branch, "master"
set :deploy_user, '<%= @deploy_user %>'
set :ip, '<%= @production_server_address %>'

role :web, ["#{fetch(:deploy_user)}@#{fetch(:ip)}"]
role :app, ["#{fetch(:deploy_user)}@#{fetch(:ip)}"]
role :db,  ["#{fetch(:deploy_user)}@#{fetch(:ip)}"]
role :puma_nginx, ["#{fetch(:deploy_user)}@#{fetch(:ip)}"]

set :enable_ssl, false
